spring.main.banner-mode=LOG
nodes.metaNode=DefaultDataCenter:localhost
nodes.localDataCenter=DefaultDataCenter
nodes.localRegion=DEFAULT_ZONE
server.logging.home=/data/devops-data/sofa-registry

meta.server.logging.level=INFO
meta.server.logging.home=/data/devops-data/sofa-registry/meta
meta.server.sessionServerPort=7610
meta.server.dataServerPort=7611
meta.server.metaServerPort=7612
meta.server.raftServerPort=7614
meta.server.httpServerPort=7615
meta.server.raftGroup=MetaServerRaftGroup

data.server.logging.level=INFO
data.server.logging.home=/data/devops-data/sofa-registry/data
data.server.port=7620
data.server.syncDataPort=7621
data.server.httpServerPort=7622
data.server.queueCount=4
data.server.queueSize=10240
data.server.notifyIntervalMs=500
data.server.rpcTimeout=3000
data.server.metaServerPort=7611
data.server.storeNodes=3
data.server.numberOfReplicas=1000

session.server.logging.level=INFO
session.server.logging.home=/data/devops-data/sofa-registry/session
session.server.serverPort=7600
session.server.serverSyncPort=7601
session.server.httpServerPort=7603
session.server.metaServerPort=7610
session.server.dataServerPort=7620
session.server.serverDescription=dev session server
session.server.sessionServerRegion=DEFAULT_ZONE
session.server.sessionServerDataCenter=DefaultDataCenter
session.server.syncHeartbeat.fixedDelay=30000
session.server.syncExceptionData.fixedDelay=30000
session.server.printTask.fixedDelay=30000
session.server.schedulerCheckVersionTimeout=3
session.server.schedulerCheckVersionFirstDelay=3
session.server.schedulerCheckVersionExpBackOffBound=10
session.server.schedulerHeartbeatTimeout=30
session.server.schedulerHeartbeatFirstDelay=30
session.server.schedulerHeartbeatExpBackOffBound=10
session.server.schedulerFetchDataTimeout=3
session.server.schedulerFetchDataFirstDelay=3
session.server.schedulerFetchDataExpBackOffBound=10
session.server.invalidForeverZones=<zone1>;<zone2>
session.server.invalidIgnoreDataidRegex=<Regex>
session.server.pushEmptyDataDataIdPrefixes=<some prefix string>